{% extends "base.html" %}

<div class="misc-container">
    <div class="recipe-edit-main">
        <h1>{{recipe-title}}</h1>
        <br>
        <p>{{recipe-description}}</p>
        <br>
        
        <div class="misc-container"><p>Prep Time: {{prep-time}}</p></div>
        <div class="misc-container"><p>Cook Time: {{cook-time}}</p></div>
        <div class="misc-container"><p>Servings: {{servings}}</p></div>
        <br>

        <h2>Method:</h2>
        <br>
        <p>{{method}}</p>

        <!-- im going to leave the tags section incase we want them to be buttons-->
    </div>
</div>

<div class="misc-container"> <!--the formatting def wont work, but cant be fixed until we see the page-->
    <div class="recipe-edit-ingredients-builder">

    </div>
</div>

<div class="misc-container">

</div>
